# Ambiente Virtual
venv/

# Arquivos de Cache do Python
__pycache__/
*.pyc

# Banco de dados SQLite
# (Para que cada pessoa que clonar o projeto comece com um DB limpo)
mds.db

# Pasta de arquivos temporários do download
backend/temp/